body {
  background-color: rgb(82, 206, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#title{
    text-align: center;
}
#center{
    color: black;
    font-size: xxx-large;
    font-weight: 1000;
}
#minus,
#plus {
  padding: 1rem 2rem;
  font-size: x-large;
}
